.gris{background-color: gray
}
.asus{
    height: 500px;
    width: auto;
    background-image: url("../image/asus.jpg") ;
    background-repeat: no-repeat;
}
.blue{
    color: blue;
}
.hr{
    padding-bottom:30px;
    padding-top:5px;
    max-width: 80px;
    border-width: 8px;
    border-color: rgb(255, 0, 8);
}
.orenge{
    background-color: orangered;
}
.gristx{
    color: gray;
}