/*pruduit par Antoine Heon le 17/10/19*/
html,body { margin:0; height:100%;}
body{
    font-size: 10px;
}
.navbar {
    background-color: #19e1ea;
}
.navbar .navbar-brand {
    color: #3b30ec;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #6796f4;
}
.navbar .navbar-text {
    color: #3b30ec;
}
.navbar .navbar-text a {
    color: #6796f4;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #6796f4;
}
.navbar .navbar-nav .nav-link {
    color: #3b30ec;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #6796f4;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #6796f4;
    background-color: #065a05;
}
.navbar .navbar-toggle {
    border-color: #065a05;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #065a05;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #3b30ec;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #3b30ec;
}
.navbar .navbar-link {
    color: #3b30ec;
}
.navbar .navbar-link:hover {
    color: #6796f4;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #3b30ec;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #6796f4;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #6796f4;
        background-color: #065a05;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #3b30ec;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #6796f4;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #6796f4;
        background-color: #065a05;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #3b30ec;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #6796f4;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #6796f4;
        background-color: #065a05;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #3b30ec;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #6796f4;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #6796f4;
        background-color: #065a05;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #3b30ec;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #6796f4;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #6796f4;
    background-color: #065a05;
}
/*===================================================================*/
.parallax {
    background-image: url("../img/dclogo.jpg");
    height: 50.0rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallaxdc1 {
    background-image: url("../img/dc.jpg");
    height: 50.0rem;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallaxinterogation {
    background-image: url("../img/interogation.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ban{
    background-image: url("../img/vs1.jpg");
    background-position: center;
    height: 100%;
    width: 100%;
}
/*===================================================================*/
/*
@media screen and (max-width: 600px) {

    .parallax {
        background-color: olive;
        color: white;}*/
/*===================================================================*/
.bgvs {
    background-color: red;
    background-image: linear-gradient(to right,blue,red);
}
.bgrouge{
background-color: red;
}
/*===================================================================*/
.size{
    font-size: 1.3rem;
}
.bggris{
    background-color: gray;
}
.bgblanc{
  color: white;
}
/*
header {
    position: relative;
    background-color: black;
    height: 100%;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
*/
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/*===================================================================*/
.bgflash{
    color: yellow;
    font-size: 3.5rem;
}
.bgflash1{
    color: yellow;
    font-size: 1.5rem;
}
.bgflash2{
    color: red;
}
.bgflash3{
    background-color: yellow;
}
.bgstan{
    color: blue;
    font-size: 1.5rem;
}
/*====================================================================*/
/* Cellulaires */
@media only screen and (max-width: 480px){
    .ban{
        background-image: url("../img/vs7373.jpg");
    }
}
/* TABLETTES */
@media screen and (min-width: 481px) and (max-width: 1024px)
    .ban{
        background-image: url("../img/vs1234.jpeg");
    }
}