body,html{
    background-image: url("../background/1glegendaire.png");
    width: 100%;
}
#bgpokedex{
    background-image: url("../pokemon/pokedex_fermer.png");
    background-size: cover;
    height: 400px;
}
#margineset{
    margin-top: 130px;
    margin-left: 150px;
}